{% extends 'Favitude/base.html' %}
{% load static %}

{% block title %}Account Recovery - Favitude{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account_recovery.css' %}">
{% endblock %}

{% block content %}
<div class="account_recovery_container">
    <div class="account_recovery_inner_container">
        <div class="email_address">
            <img src="{% static 'images/images-signup/sms-notification.png' %}" alt="mail icon" class="mail-icon">
            <h2>Enter Email Address</h2>
            <p class="forgot-password-text">
                Please enter the email address associated with the account you wish to recover. A reset link will be
                sent to you.
            </p>
        </div>
        <form method="post" class="field">
            {% csrf_token %}
            <div>
                <label for="id_email">Enter your email:</label>
                <input type="email" id="id_email" name="email" placeholder="" required>
                {% if form.email.errors %}
                <div class="error-msg">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            <div class="btn1">
                <button type="submit" class="next_btn">
                    Next
                </button>
            </div>
            <div class="redirect">
                <p>
                    <a href="{% url 'Hill:login_page' %}">Back to log in</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}