{% extends 'Favitude/base.html' %}
{% load static %}

{% block title %}Password Reset Complete - Favitude{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
{% endblock %}

{% block content %}
<div class="forgot-password-container">
    <div class="forgot-password-inner-container">
        <div class="forgot-password-first">
            <h2>Password reset</h2>
            <p class="forgot-password-text">
                Your password has been successfully reset.
                <br>
                Click below to log in.
            </p>
        </div>

        <div class="forgot-password-second input">
            <a href="{% url 'Hill:login_page' %}" class="forgot-password-btn"
                style="text-decoration: none; display: inline-block; text-align: center;">
                Log In
            </a>

            <p class="forgot-password-login">
                <a href="{% url 'Hill:login_page' %}">
                    Back to log in
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}