{% extends 'Favitude/base.html' %}
{% load static %}

{% block title %}Favitude - Home{% endblock %}

{% block content %}
<div class="content">
    <div class="first">
        <div class="text1">
            <h2>Generate your favicons in Three Easy steps</h2>
            <h4>All the tools you need, to create custom professional favicons, in one place</h4>
            <div class="getting_started">
                <a id="button1" href="{% url 'Hill:generate_page' %}">Get Started</a>
            </div>
        </div>
    </div>

    <div class="second">
        <div class="text2">
            <h3>Favitude</h3>
            <h4>Convert any of your elements to your preferred favicon format</h4>
            <p><img src="{% static 'images/images-home/check.png' %}" alt="Check">Download your Favicon in Zip format
            </p>
            <p><img src="{% static 'images/images-home/check.png' %}" alt="Check">Import your preferred image for use
            </p>
            <p><img src="{% static 'images/images-home/check.png' %}" alt="Check">One Favicon in Different resolutions
            </p>
            <a href="{% url 'Hill:tutorial_page' %}" id="button2">Learn More</a>
        </div>
        <div class="image2">
            <img src="{% static 'images/images-home/drawing_icons.png' %}" alt="drawing icons">
        </div>
    </div>

    <div class="third">
        <div class="third_top">
            <div class="image3">
                <img src="{% static 'images/images-home/designing3.png' %}" alt="drawing icons">
            </div>
            <div class="text3">
                <h4>What is a Favicon?</h4>
                <p>Favicons are the small square images that are usually displayed before the URL in the address bar of
                    a browser, in the browsing tabs, and next to the site name in a users list of bookmarks.</p>
            </div>
        </div>
        <div class="third_bottom">
            <h4>Want to know more about Favicons? <a href="{% url 'Hill:tutorial_page' %}" class="click_here">Click
                    here</a></h4>
        </div>
    </div>
    <hr>

    <div class="fourth">
        <h4>Generate Favicon</h4>
        <div class="buttons">
            <div class="first_pair">
                <a href="{% url 'Hill:gen_from_text_page' %}" class="tool-btn primary">
                    <span>Convert Texts</span>
                    <img src="{% static 'images/images-home/convert.png' %}" alt="Convert">
                </a>
                <p class="description-text">Generate favicons from texts</p>

                <a href="" class="tool-btn primary">
                    <span>Download</span>
                    <img src="{% static 'images/images-home/download.png' %}" alt="Download">
                </a>
                <p class="description-text">Download/save your generated favicon</p>
            </div>

            <div class="second_pair">
                <a href="{% url 'Hill:imageGen_page' %}" class="tool-btn secondary">
                    <span>Upload Image</span>
                    <img src="{% static 'images/images-home/upload.png' %}" alt="Upload">
                </a>
                <p class="description-text">Generate HTML/CSS link of your favicon</p>

                <a href="" class="tool-btn secondary">
                    <span>Generate Link</span>
                    <img src="{% static 'images/images-home/link.png' %}" alt="Link">
                </a>
                <p class="description-text">Generate HTML/CSS link of your favicon</p>
            </div>
        </div>
    </div>

    <div class="gallery_container" id="gallery">
        <h4>Favicon Collections</h4>
        <div class="gallery_grid"
            style="display: flex; gap: 20px; flex-wrap: wrap; justify-content: center; margin-top: 30px;">
            <div class="gallery_item">
                <a
                    href="{% if user.is_authenticated %}{% url 'Hill:download_favicon' filename='Frame1.png' %}{% else %}{% url 'Hill:login_page' %}{% endif %}">
                    <img src="{% static 'images/images-home/Frame1.png' %}" alt="Favicon 1"
                        style="width: 100px; height: 100px; object-fit: contain; cursor: pointer;">
                </a>
            </div>
            <div class="gallery_item">
                <a
                    href="{% if user.is_authenticated %}{% url 'Hill:download_favicon' filename='Frame2.png' %}{% else %}{% url 'Hill:login_page' %}{% endif %}">
                    <img src="{% static 'images/images-home/Frame2.png' %}" alt="Favicon 2"
                        style="width: 100px; height: 100px; object-fit: contain;">
                </a>
            </div>
            <div class="gallery_item">
                <a
                    href="{% if user.is_authenticated %}{% url 'Hill:download_favicon' filename='Frame3.png' %}{% else %}{% url 'Hill:login_page' %}{% endif %}">
                    <img src="{% static 'images/images-home/Frame3.png' %}" alt="Favicon 3"
                        style="width: 100px; height: 100px; object-fit: contain;">
                </a>
            </div>
            <div class="gallery_item">
                <a
                    href="{% if user.is_authenticated %}{% url 'Hill:download_favicon' filename='Frame5.png' %}{% else %}{% url 'Hill:login_page' %}{% endif %}">
                    <img src="{% static 'images/images-home/Frame5.png' %}" alt="Favicon 5"
                        style="width: 100px; height: 100px; object-fit: contain;">
                </a>
            </div>
            <div class="gallery_item">
                <a
                    href="{% if user.is_authenticated %}{% url 'Hill:download_favicon' filename='check.png' %}{% else %}{% url 'Hill:login_page' %}{% endif %}">
                    <img src="{% static 'images/images-home/check.png' %}" alt="Favicon Check"
                        style="width: 100px; height: 100px; object-fit: contain;">
                </a>
            </div>
            <div class="gallery_item">
                <a
                    href="{% if user.is_authenticated %}{% url 'Hill:download_favicon' filename='convert.png' %}{% else %}{% url 'Hill:login_page' %}{% endif %}">
                    <img src="{% static 'images/images-home/convert.png' %}" alt="Favicon Convert"
                        style="width: 100px; height: 100px; object-fit: contain;">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}